@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet') ;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.content{
    position: relative;
}

.content h2{
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 8em;
}

.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;

}

.content h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{

    0%,100% {
        clip-path: polygon(2% 51%, 17% 56%, 34% 66%, 46% 68%, 60% 67%, 74% 64%, 83% 61%, 93% 60%, 99% 60%, 99% 98%, 2% 99%);
    }

    50% {
        clip-path: polygon(2% 62%, 17% 65%, 33% 66%, 44% 66%, 57% 62%, 67% 58%, 80% 55%, 89% 54%, 98% 54%, 99% 99%, 1% 99%);
    }
}